<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905285628805-0kjqpathq63cofmq2c3ijcraj1i8v78u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905285628805-0kjqpathq63cofmq2c3ijcraj1i8v78u</string>
	<key>API_KEY</key>
	<string>AIzaSyBNzscS6AyLyIwlayow82Ans9QmvBdHUcI</string>
	<key>GCM_SENDER_ID</key>
	<string>905285628805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pascalmoench.Wattblock</string>
	<key>PROJECT_ID</key>
	<string>wattblock-941ed</string>
	<key>STORAGE_BUCKET</key>
	<string>wattblock-941ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905285628805:ios:17f5c2ad4db9bb06f54aec</string>
</dict>
</plist>